<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="mt-4">Login!</h2>
            <form action="/login" method="POST" novalidate class="needs-validation">
                <div class="mt-5">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                </div>

                <div class="mt-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter a strong password" name="password" class="form-control"
                        required>
                </div>
                <div class="mt-4">
                    <button class="btn btn-outline-secondary">Login</button>
                </div>
            </form>
        </div>
    </div>